
section{
    display: flex;
    
}
.center_food{
    width:550px;
    
   
   /* border: 1px solid purple ;   */
    

}

.center_user {
    width :250px;
    height:500px;
    border:1px solid orange;
    margin-right:10px;
}

.center_food .food_item{
    visibility: hidden;
    position:absolute; 
}
.center_list{
    border:1px solid orange;
    margin-left:20px; 
    width: 390px;
    
    
}

p#type_title{
    text-align: center;
}

.one_item{
    display:flex;   
    flex-flow: column;
    width:180px; 
    box-shadow: 0 10px 20px 4px rgba(0,0,0,0.15);
    
    text-align:center;
    border:  1px solid orange;
    justify-self: center;
    margin-top:10px;
    
}
div.one_item img{
    height: 120px;
} 

.ab:hover {
    
    box-shadow: 0 2px 3px 1px rgba(0,0,0,0.15);
    
}
.ab{
    width:50%;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 0 0.4px 0.7px 0.5px rgba(0,0,0,0.15);
    transform: translateY(0.25em);
}


.food_item{

    display: flex;
    flex-flow: row;
    width :540px;
    flex-wrap:wrap;
    border:1px solid orange;
    justify-content: space-evenly;
    
    
}

.item_box{
   
    display:block;
    text-align: center;
    width:min-content;
    flex-flow: column;
    border: 1px solid orange;
    
}


.one_item p{
    margin-bottom:0px;
}


nav div {
    display:inline-block;
}



div [content="outer"]{
    visibility: hidden;
    position:absolute; 
    opacity: 0.92;
    z-index:2;
    margin-top:20px;
    height:auto;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.15);
    margin-left: 2.5%;

}



@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 0.92;}
}
.show{
    
    background-color: #fff7e6;
    
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.bb{
     box-shadow: 0 0.4px 0.7px 0.5px rgba(0,0,0,0.15);
     margin-top: 10px;
     margin-right: 15px;
     font-size: 18px;
   
}
nav .bb:hover{
    box-shadow: 0 1.2px 0.3px 1px rgba(0,0,0,0.15);
    transform: translateY(-0.25em);
}


.center_list .plan{
    

    border:1px solid orange; 
    box-shadow: 0 4px 10px 1px rgba(0,0,0,0.15);
}
.plan:hover,
.plan:focus {
 
  box-shadow: 0 12px 20px 3px rgba(0,0,0,0.15);
  transform: translateY(-0.25em);
}
.plan p {
    font-size:12px;
    margin-top: 0px;
}


.menu_bar{
    border: 1px solid orange;
    display:flex; 
    justify-content:  flex-end;
}
.menu_bar .me{
    font-size: 20px;
    margin-left:10px;
    margin-right:12px;
    box-shadow: 0 5px 5px 1px rgba(0,0,0,0.15);
}
.menu_bar .me:hover{
    font-size: 20px;
    margin-left:10px;
    margin-right:12px;
    box-shadow: 0 5px 5px 1px rgba(0,0,0,0.15);
    transform: translateY(-0.25em);
}

.search-container{
    border:1px solid orange;
}
.search-container form{
    width:50%;
    display:block;
}

.search-container button:hover {
    background: #ccc;
  }


#popup_collection #collection{
    display:inline-flex;
    flex-flow: row;
    flex-wrap: wrap;
} 

#popup_option_list div{
   margin-top:10px;
   height:20%; 
   border: 1px solid orange;
   box-shadow: 0 3px 5px 1px rgba(0,0,0,0.15);
}
#popup_option_list div:hover{
    margin-top:10px;
    height:20%; 
    border: 1px solid orange;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.15);
    transform: translateY(-0.25em);
    
 }
#popup_option_list div p{
    margin-top: 20px;
    text-align: center;

 }



ins{
text-decoration: none;
}

/* CALENDAR */
#calendarBlock {
    border:1px solid orange;
    width: 390px;
}

.weekdaysList {
    background-color: rgb(228, 225, 225);
}

.weekdaysList li{
    display: inline-block;
    width: 10.3%;
}

.daysList li{
    list-style-type: none;
    display: inline-block;
    width: 9.8%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

#calendarBlock button{
    text-align: center;
    background-color: transparent;
    border: transparent;
}

.monthBlock .prev {
    float: left;
    padding-top: 10px;
  }
  
  .monthBlock .next {
    float: right;
    padding-top: 10px;
  }

  .monthBlock ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .monthBlock {  
    width: 390px;
    background: #a9fdec;
    text-align: center;
  }

  .monthBlock ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  #mealPlanTitle {
    text-align: center;
    background-color: rgb(236, 193, 112);
    margin: 0px;
  }

  .selectedButton {
      background-color: aqua;
  }
  